@charset "ISO-8859-1";
#stockFont {
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 40px;
letter-spacing: -.9px;
word-spacing: 1.8px;
color: blue;
font-weight: 400;
text-decoration: underline solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: none;
padding: 10px 10px;
}

body{
	background-image:url('../images/bg-01.jpg');
	background-repeat: no-repeat;
  	background-size: cover;
  	display: flex;
  	flex-direction: column;
  	justify-content: center; /* With column: centers vertically */
  	align-items: center; 	
    text-align: center;
  	padding: 10px;
}


ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
}

li {
    float: left;
}
li b {
display: inline-block;
color: #CCCCCC;
padding: 14px 350px;
	
}
li a {
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



li a:hover {
    background-color: #111;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #CCCCCC;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;  
}

.flex-container-stockTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #CCCCCC;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  
}

